<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Ship Locations! </title>
	<link rel="stylesheet" href="styles/game.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


</head>

<body>
	<div id="app">
		<div class="bg"></div>
		<div class="wrap">
			<div class="topNav">
				<div class="topNav-bg-opacity"></div>
				<div class="topNav-top">
					<div class="topNav_left">
						<span>SALVO GAME</span>
					</div>
					<div class="topNav_right">
						<div id="logout-btn" class="logoutBtn" v-on:click="logout">Log out!</div>
					</div>
				</div>
				<div class="topNav-Btm">
					<div class="gameInfo">
						<div v-for="player in players">
							<span v-if="player.id == gamePlayerId">{{player.player.username}} (You) </span>
							<span v-else>{{player.player.username}} (Other Player) </span>
						</div>
					</div>
				</div>
			</div>


			<div class="section">
				<div class="section_bg"></div>
				<div id="shipInfo">
<!--
					<div>placed ships:
						<div class="draggable-ship-wrap">
							<div class="draggable draggable-ship" v-for="placedShip in placedShips" :id="'ship_' + placedShip.slice(0,3)" data-currentLocation: v-on:mouseover="draggable" v-on:dblclick="rotate">{{placedShip}}</div>
						</div>
					</div>
-->
					<!--
					<div>Available Ships:
						<div class="draggable draggable-ship-wrap" data-field="field_id">
<div class="draggable-ship" v-for="(ship, index) of nonPlacedShips" :id="'ship_' + ship.slice(0,3)" v-on:mouseover="draggable" v-on:dblclick="rotate(index)" v-bind:class="{rotate: index == field_id}" v-bind:data-value = "index">{{ship}}</div>
						</div>
					</div>
				</div>
-->
					<div class="availableShips">Available Ships:
						<div class="draggable draggable-ship-wrap" data-field="field_id">
							<div class="draggable draggable-ship" v-for="ships in nonPlacedShips" :id="'ship_' + ships.slice(0,3)" v-on:mouseover="draggable" v-on:dblclick="rotate">{{ships}}</div>
						</div>
					</div>
				</div>
				<div class="grid-container">
				<div class="grid-wrap">
					<div class="tableWrap leftGrid">
						<h1>Ship Locations</h1>
						<div class="table_bg"></div>
						<table class="player" id="droppable">
							<tr>
								<th></th>
								<th v-for="column in columns">{{column}}</th>
							</tr>
							<tr v-for="row in rows">
								<th>{{row}}</th>
								<td v-for="item in 10" :id="row+item"></td>
							</tr>
						</table>
						
					</div>
					<div class="ship_submit_btn" v-if="shipSubmitBtn" v-on:click = "checkToPlaceShip">Submit</div>
					</div>
					<div class="grid-wrap">
					<div class="tableWrap rightGrid">
						<h1>Salvo Hits</h1>
						<div class="table_bg"></div>
						<table class="otherPlayer">
							<tr>
								<th></th>
								<th v-for="column in columns">{{column}}</th>
							</tr>
							<tr v-for="row in rows">
								<th>{{row}}</th>
								<td class = "salvoRange" v-for="(item, index) in 10" :id="'salvo'+row+item" v-on:click="fireSalvo('salvo'+row+item)"></td>
							</tr>
						</table>
					</div>
					<div class="salvo_submit_btn" v-if="salvoSubmitBtn" v-on:click = "checkToPlaceSalvo">Submit</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="./scripts/game.js"></script>
</body>

</html>
