html,
body,
div,
p,
span,
table,
tbody,
tr,
td,
th,
tdform,
button,
h1 {
	padding: 0;
	margin: 0;
}


#app {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;






}

.bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url(imgs/bg.jpg) no-repeat fixed center;
	background-size: 100% 100%;
	filter: blur(2px) brightness(90%);
	z-index: -1;
}

.gameInfo {

	max-width: 80%;
	height: 50px;
	margin: 20px auto;
}

.gameInfo > div {
	width: 50%;
	height: 40px;

	float: left;

}

.gameInfo > div > span {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
}

.ship {
	background: yellow;
}

.salvo {
	background: pink;
}

.opp_salvo {
	background: lightblue;
}

.opp_salvo_hit {
	background: red;
}

#shipInfo {
	width: 230px;
	margin-right: 10px;
	height: auto;
	float: left;

}

#shipInfo .draggable-ship-wrap {
	width: auto;
	height: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}

#shipInfo .draggable-ship-wrap > .draggable-ship {
	list-style: none;
	margin: 0;
	padding: 2px;
	height: 44.8px;

	text-indent: -9999px;
	background-size: 90% 90%;
	background-position: center;
	box-sizing: border-box;
	z-index: 10;
	
	


}

#ship_Pat {
	background: url(imgs/patrol1.png) no-repeat left;
	width: 90px;
	padding: 20px;

}

#ship_Des {
	background: url(imgs/destroyer1.png) no-repeat left;
	width: 135px;

}

#ship_Air {
	background: url(imgs/carrier1.png) no-repeat left;
	width: 225px;

}

#ship_Bat {
	background: url(imgs/battleship1.png) no-repeat left;
	width: 180px;
	padding: 40px;
}

#ship_Sub {
	background: url(imgs/submarine1.png) no-repeat left;
	width: 135px;
}

.rotate {
	transform: rotate(90deg);
}

.grid-container {
	float: left;
	text-align: center;
	width: 1200px;
	height: auto;
	overflow: hidden;
	color: mintcream;
	outline: none;
    border-color: #9ecaed;
    text-shadow: 0 0 10px #9ecaed;
	

}

.tableWrap {
	width: auto;
	float: left;
	height: auto;
	position: relative;
}

.tableWrap:first-child {
	margin-right: 30px;
}
.table_bg {
	z-index: -1;
	width: 500px;
	height: 500px;
	position: absolute;
	bottom: 0;
	left: 0;

	background-color: mintcream;
	opacity: 0.2;
}

table {
/*
	width: 500px;
	height: 500px;
*/

}

table,
td,
th {
	border: 1px solid mintcream;
}



table {
	border-collapse: collapse;
	margin: 0 auto;

}

th,
td {

	height: 45px;
	width: 45px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table span {
	display: inline-block;
	width: 100%;
	text-align: center;
}
